/L4_Ex9/nbproject/private/
/L4_Ex9/build/
/L4_Ex10/nbproject/private/
/L4_Ex10/build/
/L4_Ex11/nbproject/private/
/L4_Ex12/nbproject/private/
/L4_Ex12/build/
/L4_Ex13/nbproject/private/
/L4_Ex13/build/
/L4_Ex14/nbproject/private/
/L4_Ex14/build/
/L4_Ex15/nbproject/private/
/L4_Ex15/build/
/L5_Ex1/nbproject/private/
/L5_Ex1/build/
/L5_Ex3/nbproject/private/
/L5_Ex1e2/build/
/L5_Ex1e2/nbproject/private/
/L5_Ex3/build/
/L5_Ex4/nbproject/private/
/L5_Ex4/build/
/L5_Ex5/nbproject/private/
/L5_Ex6/nbproject/private/
/L5_Ex5/build/
/L5_Ex6/build/
/L5_Ex7/nbproject/private/
/L5_Ex7/build/
/L5_Ex8/nbproject/private/
/L5_Ex8/build/
/L5_Ex9/nbproject/private/
/L5_Ex9/build/
/L5_Ex10/nbproject/private/
/L5_Ex10/build/
/L5_Ex11/nbproject/private/
/L5_Ex13/nbproject/private/
/L5_Ex13/build/
/serieFibonacciDesafio_L5/nbproject/private/
/serieFibonacciDesafio_L5/build/
/L5_Ex11/build/
/L5_Ex12/nbproject/private/
/L5_Ex12/build/
/L5_Ex14/nbproject/private/
/L5_Ex14/build/
/L5_Ex15/nbproject/private/
/L5_Ex15/build/
/L5_Ex16/nbproject/private/
/L5_Ex17/nbproject/private/
/L5_Ex17/build/
/L5_Ex18/nbproject/private/
/L5_Ex18/build/
/L5_Ex19/nbproject/private/
/L5_Ex19/build/
/Ex1_prova2/nbproject/private/
/Ex2_prova2/nbproject/private/
/Ex2_prova2/build/
/L5_Ex21/nbproject/private/
/vetores_atv1/nbproject/private/
